<button (click)="showDiary()" mat-raised-button color="primary">Diary</button>

<div class="diary">

  <div *ngFor="let day of weekDays; index as i" class="day-in-diary day-{{i + 1}}">
    <mat-card>
      <mat-card-title>{{day}}</mat-card-title>

      <table>
        <tr>
          <th>№</th>
          <th>Урок</th>
          <th>Домашнє завдання</th>
          <th>Оцінка</th>
          <th>Примітка</th>
        </tr>
        <ng-container *ngFor="let data of diary.data; index as num">
          <tr *ngIf="data.date[2] == dayNumbers[i]">
            <td>{{diary.data[num].lessonNumber}}</td>
            <td>{{diary.data[num].subjectName}}</td>
            <td></td>
            <td>{{data.date[2]}}</td>
            <td></td>
          </tr>
        </ng-container>
      </table>

    </mat-card>
  </div>

</div>

