.error-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  list-style: none;

  .error {
    position: relative;
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    animation: errorAppear .2s,  openspace .3s ease forwards;
    transition: .3s;
  }

  .error-close {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: darkred;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: orangered;
    }
  }

  .error-destroy {
    animation: errorDestroy .2s;
  }

}

@keyframes errorAppear {
  0% {transform: scale(.5)}
  100% {transform: scale(1)}
}

@keyframes errorDestroy {
  0% {transform: scale(1)}
  100% {transform: scale(.1)}
}

@keyframes openspace {
  to {
    height: auto;
  }
}
