:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-container{
  width: 90%;
  display: flex;
  align-self: center;
  flex-direction: column;
}
h3{
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}
.mat-form-field{
  width: 300px !important;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 1rem;
  font-size: 1rem;
}
.header{
  display: flex;
  background-color: #673AB7;
  width: 90%;
  color: white;
  padding: 1rem 0;
  align-self: center;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
}

table {
  width: 100%;

  td, th {
    width: 25%;
    padding: 1rem;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
