$base-background: #673ab7;

%flex-center {
  display: flex;
  justify-content: center;
}

:host {
  @extend %flex-center;
  flex-direction: column;
}

.header {
  @extend %flex-center;
  background-color: $base-background;
  width: 90%;
  color: white;
  padding: 1rem 0;
  align-self: center;
  margin-top: 1rem;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.mat-form-field {
  @extend %flex-center;
  width: 300px !important;
  align-self: center;
  margin: 1rem;
  font-size: 1rem;
}

.table-container {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
}

table {
  width: 100%;

  .teacher-row,
  th {
    width: 25%;
    padding: 0.1rem;
  }
  .teacher-row:hover{
    background-color: #e8e8e8;
  }
  td {
    font-size: 12px;
  }
  .mat-header-cell {
    padding: 0.2rem;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.teacher-detail {
  overflow: hidden;
  display: flex;
}

.teacher-row {
 padding: 0.2rem;
}

.teacher-row td {
  border-bottom-width: 0;
}
tr.teacher-detail-row {
  height: 0;
  padding: 0 !important;
}
.teacher-diagram {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  & .diagram-block-1,
    .diagram-block-2{
      display: flex;

      & > div{
        padding: 0.5rem 0.2rem;
      }
    }
}
.bold-text{
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .table-container {
    width: 90%;
  }
  td,
  th {
    padding: 1rem;
  }
  td {
    font-size: 14px !important;
  }
  tr.teacher-detail-row {
    height: 0;
    padding: 0 !important;
  }
  .teacher-row td {
    padding: 1rem !important;
  }
  .mat-header-cell {
    padding: 1rem !important;
  }
}
