$base-background: #673ab7;

%flex-center {
  display: flex;
  justify-content: center;
}

:host {
  @extend %flex-center;
  flex-direction: column;
}

.table-container {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
}

h3 {
  @extend %flex-center;
  text-align: center;
  width: 100%;
}
.mat-form-field {
  @extend %flex-center;
  width: 300px !important;
  align-self: center;
  margin: 1rem;
  font-size: 1rem;
}
.header {
  display: flex;
  background-color: $base-background;
  width: 90%;
  color: white;
  padding: 1rem 0;
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

table {
  width: 100%;

  td,
  th {
    width: 25%;
    padding: 0.1rem;   
  }
  td {
      font-size: 12px;
    }
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-icon{
  cursor: pointer
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .table-container {
    width: 90%;
  }
  td,
  th {
    padding: 1rem !important;
  }
  td {
    font-size: 14px !important;
  }
}
