<div class="container">
  <mat-grid-list cols="4" rowHeight="fit" gutterSize="15px">
    <mat-grid-tile>
      <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{obs: teachers$, title: 'Вчителі'}"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{obs: subjects$, title: 'Предмети'}"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{obs: classes$, title: 'Класи'}"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{obs: students$, title: 'Учні'}"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile  colspan="4" rowspan='3'>
      <mat-card>
        <mat-card-title>Статистика</mat-card-title>
        <mat-card-content>
          <div class="chart-control-panel">
            <div>controls</div>
            <mat-form-field>
              <mat-label>Select class</mat-label>
              <mat-select  (selectionChange)="setClassChart($event.value)">
                <mat-option
                *ngFor='let num of listOfClasses'
                [value]="num">
                  {{num}}
                </mat-option>
              </mat-select>
            </mat-form-field>
<!--            <mat-radio-group (change)="setChartType($event.value)">-->
<!--              <mat-radio-button value="bar" checked>Bar</mat-radio-button>-->
<!--              <mat-radio-button value="pie">pie</mat-radio-button>-->
<!--            </mat-radio-group>-->
          </div>
          <div class="chart-container">
            <canvas baseChart
                  [datasets]="data$ | async"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="chartType$ | async"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<ng-template #card let-obs="obs" let-title="title">
    <mat-card>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-content>{{obs | async}}</mat-card-content>
    </mat-card>
</ng-template>


