<mat-card>
    <div class="stripe"></div>
    <mat-card-header>
        <img mat-card-avatar [src]="teacher.avatar">
        <mat-card-title>
            <div class="title-name">{{teacher.firstname}}</div>
            <div class="title-lastname">{{teacher.lastname}}</div>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
            <div ng-controller="TestCtrl">

        <mat-form-field class="card-input">
            <input matInput placeholder="Ім'я" [value]="teacher.firstname" [(ngModel)]="firstname" required>
        </mat-form-field>

        <mat-form-field class="card-input">
            <input matInput placeholder="Прізвище" [value]="teacher.lastname" required>
        </mat-form-field>

        <mat-form-field class="card-input">
            <input matInput placeholder="По-батькові" [value]="teacher.patronymic" required>
        </mat-form-field>

        <mat-form-field class="card-input">
            <input matInput matInput [matDatepicker]="picker" placeholder="Дата народження"
                [value]="teacher.dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="card-input">
            <input matInput placeholder="Електронна скринька" [value]="teacher.email">
        </mat-form-field>

        <mat-form-field class="card-input">
            <input matInput placeholder="Телефон" [value]="teacher.phone">
        </mat-form-field>

        <mat-form-field class="card-input">
            <input matInput placeholder="Логін" [value]="teacher.login">
        </mat-form-field>
        <mat-card-actions>
                <button mat-stroked-button> Зберегти </button>
            </mat-card-actions>
            </div>
    </mat-card-content>
  
</mat-card>