<mat-card>
    <div class="stripe"></div>
    <mat-card-header>
        <img mat-card-avatar [src]="avatarImg">
        <mat-card-title>
            <div class="title-name">{{teacher.firstname}}</div>
            <div class="title-lastname">{{teacher.lastname}}</div>
        </mat-card-title>
        <input type="file" #inputFile id="file" (change)="handleFileInput($event)" [hidden]="true">
            <mat-card-actions class="header-mat-card-actions">
                <button mat-button type="button" (click)="inputFile.click()">Вибрати фото</button>
            </mat-card-actions>
    </mat-card-header>


    <form [formGroup]="editTeacher" (ngSubmit)="submitEdit($event)">
        <mat-card-content>
            <mat-form-field class="card-input">
                <input matInput placeholder="Ім'я" formControlName="firstname">
            </mat-form-field>

            <mat-form-field class="card-input">
                <input matInput placeholder="Прізвище" formControlName="lastname">
            </mat-form-field>

            <mat-form-field class="card-input">
                <input matInput placeholder="По-батькові" formControlName="patronymic">
            </mat-form-field>

            <mat-form-field class="card-input">
                <input matInput matInput [matDatepicker]="picker" placeholder="Дата народження"
                    formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="card-input">
                <input matInput placeholder="Електронна скринька" formControlName="email">
            </mat-form-field>

            <mat-form-field class="card-input">
                <input matInput placeholder="Телефон" formControlName="phone">
            </mat-form-field>

            <mat-form-field class="card-input">
                <input matInput placeholder="Логін" formControlName="login">
            </mat-form-field>
            <mat-card-actions>
                <button mat-button type="submit" [disabled]="!editTeacher.dirty"> Зберегти </button>
            </mat-card-actions>
            
        </mat-card-content>
    </form>

</mat-card>